* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}
*::after{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
::-webkit-scrollbar{display:none}
body {
  display: flex;
  height: 100vh;
}
#code-wrapper {
  padding: 10px;
  flex: 1;
  height: 100%;
  width: 50vw;
  background: #f3f5f6;
  z-index: 1;
}
#code-wrapper #code {
  overflow: scroll;
  height: 100%;
}
#preview-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper .up {
  position: relative;
  
}

.cover {
  position: absolute;
  width: 100vw;
  height: 80px;
  background: #fff;
  top: 135px;
  right: 0px;
  transition: none;
  z-index: -1;
}